*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
config.yml
.process_id
.process_id_for_ipn_checker_my_sandbox_id
.process_id_for_poll_checker_my_sandbox_id
